.container {
    &_flex {
        display: flex;
        flex-wrap:wrap;
        gap: 1rem;
        padding-top: 0.5rem;

        &_column {
            flex-direction: column;
            gap: 0.5rem;

            &_center {
                align-items: center;
            }
        }

        &_small-gap {
            row-gap: 0.5rem;
        }
    }
    &_grid {
        display: grid !important;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        width: 100%;
    }
}
