@import './abstracts/abstracts-dir';
@import './components//components-dir';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: $grey;
}

.App {
    width: 96%;
    margin: 1.5rem auto;
}

h1 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
}

h1 > a {
    text-decoration: none;
    color: $grey;
}

.bold {
    font-weight: bolder;
}

.MuiImageListItem-item {
    cursor: pointer;
}
